.contact__form {
  padding: 25px 15px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  outline: 1px solid black;
}

.contact__lable {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}

.contact__input {
  width: 45%;
  outline: 1px solid rgba(140, 140, 140, 0.545);
  border: none;
}

.contact__btn {
  display: block;
  width: 20%;
  background-color: inherit;
  outline: 1px solid rgba(140, 140, 140, 0.545);
  border: none;
  border-radius: 3px;
}
